{% extends "base.html" %}
{% block title %}Home{% endblock title %}

{% block main %}
   <main>
    <style>
        #page1{
            /*width:calc(100vw- 15vw);*/
          width:81vw;
          height: 30vh;
          position: relative;
          border-bottom:2px solid #3498db;
          margin: 2vw 1vw;
        }
        #top-header {
          width: 80vw;
          height: 16vh;
          display: flex;
          position: relative;
          left: 1vw;
          border-bottom: 2px solid rgb(197, 25, 25);
          padding: 2vw 1vw ;
          justify-content: space-between;
        }
        #namePlate #homePlate{
          display: flex;
        }
        #namePlate #homePlate img {
          width: 2.5vw;
          margin-right: 0.8vw;
        }
        #namePlate p {
          font-size: large;
          padding:  0.3vw 3vw;
          color: blue;
        }
        #searchBar {
          /*display: flex;*/
          align-items: center;
          background-color: transparent;
          /* background-color:red; */
          position: relative;
          padding-top: 1vw;
          
        }
        #searchBar input {
          background-color: transparent;
          /* background-color: green; */
          color: #fff;
          font-size: large;
          font-style: italic;
          width: 20vw;
          /* height: 4vh; */
          border: 1px solid #3498db;
          border-radius: 20px;
        }
        #search {
          position: absolute;
          right: 1vw;
          top: 1.5vw;
          background-color: transparent;
          /* background-color: red; */
          border: transparent;
          font-size: large;
          cursor: pointer;
        }
        #page1{
          display: flex;
          justify-content: space-between;
        }
            /* styles for total data display section*/
         #total-data{
           display: grid;
           grid-template-columns: repeat(3,1fr); 
           width: 60%;
           height: 25vh;
           
         }
         .all-data{
           width: 15vw;
           height: 10vh;
           /*border: 1px solid #271ad6;*/
           border-radius: 5px;
           background-color: #d6c9c9;
           padding:1vw;
           text-align: Left;
           z-index:99;
           margin-left: 2vw;
           margin-top: 1vh;
           cursor: pointer;
         }
         .all-data label{
          color: red; 
          font-size: larger;
         }
         .all-data p{
          margin-top: 1vh;
         }
         .all-data:hover{
          background-color: #ebdede;
           border: 0.5px solid #d6c9c9;

         }
         #todays-report{
          width: 23vw;
          height: 25vh;
          border:1px solid red;
          border-radius: 5px;
          margin-right: 2vw;
         }
         .manage{
          width: 15vw;
           height: 25vh;
           /*border: 1px solid #271ad6;*/
           border-radius: 5px;
           background-color: #d6c9c9;
           padding:4vw;
           text-align: center;
           z-index:99;
           margin-left: 8vw;
           margin-top: 3vh;
           padding-button: 7vh;
          
           cursor: pointer;
         }
         .manage img{
          width: 1.6vw;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        margin-button: 0.5vh;
        margin-top: 0.2vh;
         }
         

    </style>
        <div id="top-header">
            <div id="namePlate">
              <div id="homePlate">
                <img src="/static/home-icon-silhouette.png" alt="">
              <h1>DASHBOARD</h1>
            </div>
                <p>Manage your SajiloLibrary</p>
            </div>
            <div id="searchBar">
              <input type="text" placeholder="Search.." />
              <button id="search">🔍</button>
            </div>
          </div>
          <div id="page1">
            <div id="total-data">
              <div class="all-data" id="total-book">
                <label for="book">{{books|length}}</label>
                <p>Total Books</p>
              </div>
              <div class="all-data" id="total-student">
                <label for="student">{{students|length}}
                  
                </label>
                <p>Total Students</p>
              </div>
              <div class="all-data" id="issued-book">
                <label for="book">{{issues|length}}</label>
                <p>Issued Books</p>
              </div>
              <div class="all-data" id="returned-book">
                <label for="book">0</label>
                <p>Returned Books</p>
              </div>
              <div class="all-data" id="passive">
                <label for="book">0</label>
                <p>Available Books</p>
              </div>
              <div class="all-data" id="out-of-stock">
                <label for="book">0</label>
                <p>Out of Stock</p>
              </div>
            </div>
            <div id="todays-report"></div>
          </div>

          <div id="redirect">
            <button class="manage" id="Issued">
              <label for="book">
                <img src="/static/inside book icon.png" alt="" />
              </label>
              <p>Issued books</p>
            </button>
            <button class="manage" id="Addbooks">
              <label for="book">
                <img src="/static/inside book icon.png" alt="" />
              </label>
              <p>Add books</p>
            </button>
            <button class="manage" id="AddStds">
              <label for="book">
                <img src="/static/reading-book.png" alt="">
              </label>
              <p>Add Students</p>
            </button>
          
          </div>

    
   </main>
 {% endblock main %}
 {% block footer %}{% endblock footer %}